

* {
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #f00;
    background-color: #000;
}

/* CONTAINERS */

main,
.flex,
.container,
.dice-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    background-image: url(https://images.unsplash.com/photo-1633506079263-7029b4f46762?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
    background-position: center;
    background-size: cover;
    max-width: 800px;
    min-height: 700px;
    margin: 2% auto;
    padding: 0 .5em 2em .5em;
    border: none;
}

.dice-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    padding: 1em 2%;
    margin-bottom: 1em;
}

.logo {
    width: 60px;
    margin-right: 2em;
}

/* MAIN */

.dice {
    font-size: 2.8rem;
    line-height: 2.3em;
    text-align: center;
    color: #000;
    background: radial-gradient(circle, rgba(255,235,0,1) 0%, rgba(83, 12, 12, 1) 100%);
    box-shadow: 6px 6px 0px rgba(83, 12, 12, 1);
    border-radius: .7rem;
    width: 2.2em;
    height: 2.2em;
    margin: 0.5em;
    
}

.total-score {
    font-size: 2rem;
    text-align: center;
}
.total-score-comment {
    font-size: 0.7;
    text-align: center;
}

/* BUTTONS */

button {
    font-size: 2rem;
    color: rgb(255, 153, 0);
    background-color: rgba(0, 0, 0, 0.5);
    width: 8em;
    padding: 0.3em;
    border: 2px solid rgb(255, 153, 0);
    border-radius: 0.3rem;
}

button:hover,
button:focus {
    color: #000;
    background-color: rgb(255, 153, 0);
    cursor: pointer;
}

button:active {
    transform: scale(.95);
}


/* FUNCTIONALITY */

.hidden {
    visibility: hidden;
}

.not-displayed {
    display: none;
}

.lowest{
    background: radial-gradient(circle, rgba(255, 235, 0, .4) 0%, rgba(83, 12, 12, .4) 100%);
    box-shadow: 6px 6px 0px rgba(83, 12, 12, .4);
}


/* MEDIA QUERIES */

@media (min-width: 800px) {
    .container {
        border: 3px solid rgb(255, 153, 0)
    }

    .flex {
        flex-direction: row;
        margin: 2em 0;
    }

    .dice-container {
        flex-wrap: nowrap;
    }
}

@media (max-width: 380px) {
    body {
        font-size: 0.8rem;
    }
}